body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('images/pozadina.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

h1 {
    color: white;
}

.input-container1 {
    margin-right: 35%;
    margin-bottom: 30px;
}

#city {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: url('images/pozadina.jpg');
}

button:hover {
    background-color: #2980b9;
}

.forecast-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    background-color: skyblue;
    height: 310px;
    background-image: url('images/pozadina.jpg');
}

.forecast-container-wrapper {
    display: flex;
    justify-content: space-around;
    padding-right: 25%;
    margin-right: 10%;
}

.weather-box {
    background-color: white;
    padding: 2%;
    border-radius: 1%;
    margin-top: 4%;
    width: 100%;
    height: auto;
}

.forecast-container1 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 1%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 35%;

}

.forecast-day {
    text-align: center;
    padding: 10px;
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    background-image: url('images/pozadina.jpg');
}

.forecast-day h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}

.forecast-day p {
    margin: 5px 0;
    font-size: 14px;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-info img {
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.temperature h3 {
    font-size: 24px;
    margin: 0;
}

.temperature p {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
}

.additional-info {
    margin-top: 20px;
    font-size: 18px;
}

.error {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.tips-container {
    margin-top: 7%;
    width: 30%;
    padding: 1%;
    background-color: #f0f0f0;
    ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 120px;
    right: 0;
    margin-right: 8%;
    width: 25%
}

.tips-container h2 {
    color: darkslategrey;
}

#categoryFilter {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

#conditionsList {
    margin-top: 20px;
    padding-left: 0;
}

.condition ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.condition-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-image: url('images/pozadina.jpg');
}

.condition-button:hover {
    background-color: #2980b9;
}

.condition-button.selected {
    border: 5px solid #66BB6A;
    background-color: #4CAF50;
}

.condition {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('images/pozadina.jpg');
}

.condition h3 {
    color: white;
    font-size: 18px;
}

.condition p {
    font-size: 14px;
    color: white;
}

.condition ul {
    margin: 10px 0;
    padding-left: 20px;
}

.condition li {
    font-size: 14px;
    color: white;
}

.selected {
    background-color: #2980b9;
    color: white;
}

.refresh-button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 75%;
}

.refresh-button:hover {
    background-color: #2980b9;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-right: 35%;
}

.input-section {
    flex: 0 0 93%;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('images/pozadina.jpg');
}

.input-section-nightevent {
    flex: 0 0 93%;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('images/pozadina.jpg');
}

.input-section h3 {
    color: white;
    margin-bottom: 15px;
}

.input-section input {
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.input-section button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #2980b9;
}

.input-section p,
.input-section ul {
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

#visibilityResult,
#nightEventResult,
#savedCameraResult,
#upcomingNightSkyEvents {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    color: black;
    margin-top: 10px;
}

.year-selection-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
    width: 63%;
    background-color: f0f0f0;
}

.year-selection-container button.selected {
    border: 10px solid #66BB6A;
    background-color: skyblue;
}

/* Dark mode styles */
.dark-mode .weather-box {
    background-color: #171616 !important;
    color: #fff !important;
}

.dark-mode .tips-container {
    background-color: #313131 !important;
    color: #fff !important;
}

.dark-mode .forecast-container1 {
    background-color: #313131 !important;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode li {
    color: #e6e6e6 !important;
}

.dark-mode #city, .dark-mode #location, .dark-mode #visibilityResult, .dark-mode #cameraModel, .dark-mode #cameraDetails, .dark-mode #savedCameraResult, .dark-mode #upcomingNightSkyEvents, .dark-mode #nightEventResult, .dark-mode .year-selection-container {
    background-color: #313131 !important;
    color: #e6e6e6 !important;
}